body
{
    width: 1200px;
    margin: auto;
}

#header
{
    border-radius: 10px;
    width: 100%;
    background-color: rgb(50, 140, 200);
    height: 75px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 1px;
}

#main
{
    width: 100%;
    position: relative;
    width: inherit;
    top: 30px;
}

#menu
{
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 100%;
    float: left;
    position: relative;
    font-size: 30px;
}

.botton
{
    border-radius: 10px;
    position: relative;
    margin: 10px;
    margin-left: 10%;
    margin-right: 10%;
    width: 75%;
    background-color: rgb(50, 140, 200);
    color: rgb(255, 255, 255);
    padding: 1px 1px;
    text-align: center;
    display: inline-block;
}

#content
{
    float : right;
    position: relative;
    height: 300px;
    width: 75%;
    background-color: rgb(50, 140, 200);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    margin: 10px;
    text-indent: 25px;
    line-height: 17px;
    padding-top: 10px;
}